<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Doctor@Home</title>
</head>
<body>
    <h2>What is "Doctor@Home"?</h2>
    <p>(short demo available on<a href="https://youtu.be/12w1bA8YU38"> youtube </a>)</p>
    <h3><a href="http://doctorathome.org">Doctor@Home </a>is a self-monitoring solution for stay-at-home patients with Covid-19 diagnosis. It consists of three key elements</h3>
    <ol>
    	<li><b>Monitoring at home</b><br>
    		<p>Optimize scarce resources for clinicians, and improves the quality of life for patients.</p>
    	</li>
    	<li><b>Proactive Data collection</b><br>
    		<p>Accessible, pro-active data collection, that works particularly well for elderly people.</p>
    	</li>
    	<li><b>Intelligent Triaging</b><br>
    		<p>Machine Learning model for triaging supports clinicians in decision making. e.g. if a patient needs to be visited or even transferred into the hospital.</p>
    	</li>
    </ol>
</body>
</html>